version: "3.8"
services:
  backend:
    build: ./backend
    ports:
      - "4000:4000"
    environment:
      - PORT=4000
      - JWT_SECRET=devsecret123
    volumes:
      - ./backend:/app
    command: sh -c "node src/db/migrate.js && node src/server.js"
  frontend:
    build: ./frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
